@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/*--------------------------------
GLOBAL
---------------------------------*/


p {
  color: #767676;
  line-height: 23px;
  /* font-family: 'Nunito', sans-serif; */
}

.btn {
  color: #fff;
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #daa37f;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
}

.btn--opacity {
  animation: opacity 3s;
}

.sect {
  padding: 130px 0;
}

.sect--brown {
  background-color: #1d140b;
}

.sect--grey {
  background-color: #ebebeb;
}

.sect--no-bottom {
  padding-bottom: 0;
}

.sect--white-text {
  color: #fff;
}

.col--inbl {
  display: inline-block;
  float: none;
}

.row--center {
  text-align: center;

}

.row--small {
  max-width: 960px;
  margin: 0 auto;
}

.row--margin {
  margin-top: 65px;
}


/*--------------------------------
BANNER
---------------------------------*/
.banner {
  /* background-image: url('https://image.ibb.co/meT7Jb/header_bg_1.jpg'); */
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: banner-in 2s;
}

.banner__container {
  display: table-cell;
  vertical-align: middle;
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 3s;
}

.banner__title {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
  /* font-size: 56px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  animation: opacity 3s; */
}

.banner__title:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.banner__text {
  font-size: 14px;
  color: #fff;
  margin: 0;
  margin-bottom: 18px;
  animation: opacity 3s;
}

/* ---------------------------- */

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 05%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  /* mix-blend-mode: multiply; */
  /* height: 50px; */
  width: 50px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none !important;
  color: #fff;
  font-size: 17px;
}

nav ul li a:hover{
  text-decoration: none;
  -webkit-text-stroke: 2px #fff;

}

.content {
  text-align: center;
}

.content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content a {
  text-decoration: none !important;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.content a:hover {
  -webkit-text-stroke: 2px #fff;
  text-decoration: none;
  color: transparent;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    /* height: 100%; */
  }
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 3s;
  color: #fff;
  size: 100px;
}

@media (max-width: 768px) {
  .hero {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  nav {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  nav ul li {
    margin-left: 20px; /* Reduce margin between navigation items */
  }

  .content h1 {
    font-size: 100px; /* Decrease font size for smaller screens */
  }

  .content a {
    font-size: 18px; /* Decrease button font size for smaller screens */
    padding: 10px 40px; /* Adjust button padding for smaller screens */
  }

  .banner__scroll-down {
    bottom: 10px; /* Adjust scroll-down button position */
  }
}


/* ---------------------
HOME DELIVERY
---------------------- */

.van_image {
  background-image: url("images/van.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}


/* ====================================== HALF image0====================================== */
.half-sect__second {
  background-image: url("images/DryCleanClothes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color: #fff;
}

.half-sect__first {
  padding: 150px;
  background-color: #fff;
}

.description__p {
  margin-bottom: 40px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/* ------------------------------------------------THREE IMAGES --------------------------------------------- */

.three-img__img {
  height: 0;
  padding-bottom: 33.3%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three-img {
  display: table;
  height: 33.3%;
  width: 100%;
}

.three-img--1 {
  background-image: url('images/threeImage/image1.jpg');
}

.three-img--2 {
  background-image: url('images/threeImage/image2.jpg');
}

.three-img--3 {
  background-image: url('images/threeImage/image3.jpg');
}

/* ============Protecting Garments and Skin, Naturally.============== */

.sect--great {
  padding: 150px 0;
  background-image: url('images/greenChemial.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-color:#fff;
}

/* ====================SERVICE =================== */
 .article-pre {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.article-pre__img {
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  height: 200px;
}

.article-pre:hover .article-pre__img {
  filter: blur(5px);
}

.article-pre__text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 10px;
  text-transform: uppercase;
  font-size: 28px;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.article-pre:hover .article-pre__text {
  opacity: 1;
}


/*--------------------------------
TIPS AND TRICKS
---------------------------------*/

.sect__title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
}

.last-articles {
  margin-top: 50px;
}

.article-pre__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80%;
}

.article-pre {
  background-color: #fff;
}

.article-pre__title {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.article-pre__date {
  color: #767676;
  line-height: 23px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.article-pre__info {
  padding: 25px 20px 20px 20px;
}

.article-pre__ex {
  margin: 0;
  line-height: 22px;
}

.article-pre-1 .article-pre__img {
  background-image: url("images/blog/Sorting.jpg");
}

.article-pre-2 .article-pre__img {
  background-image: url("images/blog/stain.jpg");
}

.article-pre-3 .article-pre__img {
  background-image: url("images/blog/dryingClothes.jpg");
}


/* --------------------------------------footer---------------------------------------------------- */
.footer {
  display: table;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
  width: 50%;
  display: table-cell;
  padding: 100px 140px;
}

.footer__half-1 {
  background-image: url("images/footerImage2.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__half-2 {
  background-color: #000;
}

.footer__big-title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 25px;
  color: #fff;
}

.footer__title {
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #daa37f;
}

.footer__desc {
  color: #d7d7d7;
  margin-bottom: 25px;
  font-size: 18;
}


/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width:1024px) {
  .sect {
    padding: 100px 0;
  }

  .row--margin {
    margin-top: 55px;
  }

  .banner__title {
    font-size: 54px;
  }

  .half-sect__first {
    padding: 100px;

  }

  .three-img__img {
    padding-bottom: 40%;
  }

  .sect--no-bottom {
    padding-bottom: 0px !important;
  }

  .footer__half {
    padding: 90px 120px;
  }

  .sect-t-footer {
    display: none;
  }

  .footer {
    position: relative;
  }
}


@media screen and (max-width:991px) {
  .sect {
    padding: 80px 0;
  }

  .banner__title {
    font-size: 120px;
  }

  .row--margin {
    margin-top: 45px;
  }

  .coffee {
    padding: 0 15px;
  }

  .coffe__img {
    width: 100%;
  }

  .half-sect__first {
    padding: 80px;
  }

  .last-articles {
    margin-bottom: 30px;
  }

  .sect__title,
  .description__title,
  .footer__big-title {
    line-height: 38px;
    font-size: 28px;
  }

  .footer__half {
    padding: 60px 90px;
  }

}

@media screen and (max-width:767px) {
  .banner__title {
    font-size: 100px;
  }

  .three-img {
    height: auto;
  }

  .sect {
    padding: 60px 0;
  }

  .row--margin {
    margin-top: 30px;
  }

  .coffee {
    margin-bottom: 30px;
  }

  .coffee__img {
    width: 35%;
  }

  .coffee__descr,
  .sect__subtitle {
    padding: 0 50px;
  }

  .sect__title,
  .description__title,
  .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }

  .half-sect__first {
    padding: 50px;
  }

  .article-pre {
    margin-bottom: 15px;
  }

  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }

  .half-sect {
    display: block;
    height: auto;
  }

  .half {
    width: 100%;
    display: block;
  }

  .half-sect__second {
    padding-bottom: 60%;
  }


}

@media screen and (max-width:480px) {
  .banner__title {
    font-size: 70px;
  }

  .sect {
    padding: 50px 0;
  }

  .sect__title,
  .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
  }

  .sect__subtitle {
    padding: 0;
  }

  .coffee__img {
    width: 65%;
  }

  .coffee__descr,
  .sect__subtitle {
    padding: 0 15px;
  }

  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .row--margin {
    margin-top: 15px;
  }

  .best__img {
    width: 44px;
  }

  .best__title {
    margin-top: 15px;
  }

  .three-img__img {
    padding-bottom: 60%;
    width: 100%;
  }

  .footer__half {
    padding: 35px 35px;
  }

  .footer__desc {
    margin-bottom: 10px;
  }

}



/*-------------------- WHATSAPP ICON -------------------------------- */

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: breathe 2s ease-in-out infinite;
}

.whatsapp-btn i {
  color: #fff;
  font-size: 24px;
  animation: beat 2s ease-in-out infinite;
  text-decoration: none;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}